/* Смотри сколько снизу свободного места! Оно идеально подойдёт, чтобы писать твои стили! */

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.center {
    padding-left: calc(50% - 590px);
    padding-right: calc(50% - 590px);
}
.products {
    height: 694px;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #E5E5E5;
}
.products__heading {
    padding: 40px 0 40px;
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 72px;
    color: #000000;
}
.card__box {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}
.card {
    width: 380px;
    height: 482px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FFFFFF;
    border-radius: 12px;   
    position: relative;
    box-shadow: 0px 0px 45px -4px rgba(0, 0, 0, 0.18);
}
.card__img {
    height: 214px;
    border-radius: 12px 12px 0 0;
}
.new{
    position: absolute;
    left: 17px;
    top: 16px;
}
.low-stock {
    position: absolute;
    left: 145px;
    top: 16px;
}
.card__info {
    width: 332px;
}
.card__title {
    font-weight: 900;
    font-size: 24px;
    line-height: 36px;
    color: #2F2F2F;
    padding-top: 24px;
}
.card__description {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #2F2F2F;
    padding-top: 16px;
}
.card__button {
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    color: #42940F;
    background: #FFFFFF;
    border-radius: 12px;
    width: 332px;
    height: 48px;
    position: absolute;
    top: 410px;
    border: 2px solid #42940F;
    border-radius: 8px; 
}
.card__button:hover {
    color: #FFFFFF;
    background: #42940F;
    border: 2px solid #42940F;
    transition: all .3S;
}
.card__button:active {
    color: #FFFFFF;
    background: #1F5200;
    border: 2px solid #1F5200;
}
.card__button_disabled {
    color: #FFFFFF;
    background: #4E4E4E;
    border: 1px solid #4E4E4E;
    pointer-events: none;
}

/* Мобилка */

@media (max-width:426px){
    .center {
        padding-left: 18px;
        padding-right: 18px;
    }
    .products__heading {
        font-weight: 900;
        font-size: 24px;
        line-height: 36px;
    }
    .products {
        height: 100%;
    }
    .card {
        width: 284px;
        height: 380px;
    }
    .card__img {
        width: 284px;
        height: auto;
    }
    .card__info {
        width: 236px;
    }
    .card__title {
        font-size: 20px;
        line-height: 24px;
    }
    .card__description {
        font-size: 14px;
        line-height: 20px;
    }
    .card__button {
        width: 236px;
        height: 48px;
        top: 320px;
    }
}
