* {
    margin: 0;
    padding: 0;

}
body {
    background:cornsilk;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: left;
}
.article {
    max-width: 680px;
    height: 100vh;
    font-family: sans-serif;
    text-align: left;
    padding: 24px;
    margin-top: 8px;
}
.article__heading {
    margin-bottom: 1.5rem;
    color: palevioletred;
}
.article__lead {
    font-weight: 700;
    text-transform: uppercase;
    font-style: italic;
    font-family: serif;
    padding-bottom: 16px;
}
.figure__image {
    padding-top: 16px;
    padding-bottom: 8px;
}
.figure__caption {
    font-style: italic;
    font-family: sans-serif;
    text-align: center;
}